{% extends 'components/base.html' %}

{% block head %} <title>Basket</title> {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
{% if user_favorites %}
{% for user_favorite in user_favorites %}

<div class="container mt-5">
  <div class="card mb-3" style="max-width: 50%;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{% url 'product:detail' user_favorite.product.id %}"><img src="{{user_favorite.product.photo.url}}" class="img-fluid rounded-start" alt="{{user_favorite.product.name}}"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{user_favorite.product.name}}<a href="{% url 'product:favorite_delete'  user_favorite.product.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="650" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg></a></h5>
            <h5 class="card-title">{{user_favorite.product.price}} azn</h5>
            <p class="card-text">{{user_favorite.product.about}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endif %}

{% endblock %}